*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 28px;
    color: #37523d;
    font-family: Verdana, Geneva, sans-serif;
}
.wrap{
    width: 950px;
    margin: 0 auto;
    padding: 1px;
    display: flex;
    gap: 24px;
    border: 1px solid #e7eeea;
}
.catalog-title{
    color: #FFFFFF;
    background: #37523d;
}
.item-catalog p{
    text-align: center;
    width: 300px;
    border: 1px solid #e7eeea;
    padding: 16px 0
}
.item-catalog p:hover:not(.catalog-title){
    background: #e7eeea;
    cursor: pointer;
}
.item-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.item{
    border: 1px solid #e7eeea;
    width: 300px;
}
.item img{
    width: 300px;
    height: 315px;
    display: block;
}
.name-price{
    display: flex;
    justify-content: space-around;
}
.name-price P:first-child{
    width: 185px;
    border-right: 1px solid #e7eeea
}
.name-price p:not(.shopping-car){
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
}
.shopping-car{
    background: #e7eeea;
    color: #37523d;
    display: block;
    font-weight: bold;
    padding: 30px 0;
    text-align: center;
}
.shopping-car:hover{
    text-decoration: underline;
    cursor: pointer;
}